---
layout: default
title: Daniel's Site
---
<h1>{{ page.title }}</h1>
<ul>
  {% assign group1 = "" | split: "|" %}
  {% for post in site.posts %}
    {% if post.Level1Group == "" %}
      {% continue %}
    {% endif %}
    {% assign is_existed = false %}
    {% for g1 in group1 %}
      {% if post.Level1Group == g1 %}
        {% assign is_existed = true %}
      {% endif %}
    {% endfor %}
    
    {% if is_existed == false %}
      {% assign group1 = group1 | push: post.Level1Group %}
    {% endif %}
  {% endfor %}
  
  {% for g1 in group1 %}
    {% assign group2 = "" | split: "|" %}
    {% for post in site.posts %}
      {% if post.Level1Group != g1 or post.Level2Group == "" %}
        {% continue %}
      {% endif %}

      {% assign is_existed = false %}
      {% for g2 in group2 %}
        {% if post.Level2Group == g2 %}
          {% assign is_existed = true %}
        {% endif %}
      {% endfor %}
      
      {% if is_existed == false %}
        {% assign group2 = group2 | push: post.Level2Group %}
      {% endif %}
    {% endfor %}

    <h1>{{ g1 }}</h1>
    {% for g2 in group2 %}
      <h2>{{ g2 }}</h2>
      {% for post in site.posts %}
        {% if post.Level1Group == g1 and post.Level2Group == g2 %}
          <li>
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}

  <hr/>
  {% for post in site.posts %}
    {% if post.Level1Group == "" or post.Level2Group == "" %}
      <li>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
